@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
html, body, #root { height: 100%; }
body {
  @apply bg-gray-50 text-gray-900;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Dark mode base */
:root { color-scheme: light; }
.dark { color-scheme: dark;}